.navbar {
    background-image: url(/assets/movie/NavBackground.svg);
    background-position: center;
    position: relative;
    z-index: 1;
    height: 15vh; /* Set the height to match the SVG */
}

.heroImage {
    height: 91vh;
    background-image: url(/assets/movie/Movie.png);
    margin-top: -6vh;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: relative;
}

.heroImageGradient {
    background: linear-gradient(180deg, rgba(255, 230, 208, 0.00) 0%, #FFE6D0 100%);
    height: 80%; 
    position: absolute;
    bottom: 0;
    width: 100%;
}

.playButton{
    margin-top: -10px;
    z-index: 1;
}